<div xmlns:th="http://www.thymeleaf.org" th:fragment="patterns">
    <section class="cd-faq">
        <ul class="cd-faq-categories">
            <li><a class="selected" href="#basics">Creational patterns</a></li>
            <li><a href="#mobile">Structural patterns</a></li>
            <li><a href="#account">Behavioral patterns</a></li>
        </ul> <!-- cd-faq-categories -->

        <div class="cd-faq-items">
            <ul id="basics" class="cd-faq-group">
                <li class="cd-faq-title"><h2>Creational patterns</h2></li>
                <li>
                    <a class="cd-faq-trigger" href="">Abstract Factory</a>
                    <div class="cd-faq-content">

                        <img th:src="@{/resources/img/patern.png}" src="../img/patern.png" alt="Structure pattern"/>

                        <div class="pattern_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus
                                corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non
                                a
                                ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.
                                Dolorum consequuntur fugit deleniti, soluta fuga nobis. Ducimus blanditiis velit sit
                                iste
                                delectus obcaecati debitis omnis, assumenda accusamus cumque perferendis eos aut quidem!
                                Aut, totam rerum, cupiditate quae aperiam voluptas rem inventore quas, ex maxime culpa
                                nam
                                soluta labore at amet nihil laborum? Explicabo numquam, sit fugit, voluptatem autem
                                atque
                                quis quam voluptate fugiat earum rem hic, reprehenderit quaerat tempore at. Aperiam.</p>

                        </div>

                        <hr class="pattern_hr"/>
                        <div class="pattern_comments">
                            <!-- Block Comment -->
                            <div class="pattern_comment">
                                <img class="pattern_comment_icon" th:src="@{/resources/img/coment.png}"
                                     src="../img/coment.png"/>
                                <div class="pattern_comment_data">
                                    <p><b>Alex</b></p>
                                    <p class="pattern_comment_data_text">26.10.16</p>
                                </div>
                            </div>
                            <div class="pattern_comment_block_text">
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi cupiditate et
                                    laudantium
                                    esse adipisci consequatur modi possimus accusantium vero atque
                                </p>
                            </div>

                            <!-- Block Comment -->
                            <div style="display: block;padding-bottom: 5px">
                                <img th:src="@{/resources/img/coment.png}" style="width: 36px;display: inline"
                                     src="../img/coment.png"/>
                                <div style="display: inline-block; height: 36px">
                                    <p><b>Alex</b></p>
                                    <p style="font-size: 8pt">26.10.16</p>
                                </div>
                            </div>
                            <div style="padding-bottom: 20px">
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi cupiditate et
                                    laudantium
                                    esse adipisci consequatur modi possimus accusantium vero atque
                                </p>
                            </div>

                            <!-- Block Comment -->
                            <div style="display: block;padding-bottom: 5px">
                                <img th:src="@{/resources/img/coment.png}" style="width: 36px;display: inline"
                                     src="../img/coment.png"/>
                                <div style="display: inline-block; height: 36px">
                                    <p><b>Alex</b></p>
                                    <p style="font-size: 8pt">26.10.16</p>
                                </div>
                            </div>
                            <div style="padding-bottom: 20px">
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi cupiditate et
                                    laudantium
                                    esse adipisci consequatur modi possimus accusantium vero atque
                                </p>
                            </div>


                            <!-- Commentary -->
                            <div class="pattern_comment_commentary">
                                <form name="formCommentary">
                                    <p>Leave a comment:</p>
                                    <textarea ng-model="textareaCommentary.text" type="text"
                                              class="pattern_comment_commentary_text" rows="6"></textarea>
                                    <a ng-click="postComment(formCommentary, textareaCommentary)" href=""
                                       class="cd-btn-send">Post Comment</a>
                                    <span ng-show="errorMessage" class="cd-error-message-comm">Comment field empty!</span>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>

                <li ng-repeat="creationPatternObject in creationPatternsObject">
                    <a class="cd-faq-trigger" ng-click="loadingBtn = !loadingBtn" href="">
                        {{creationPatternObject.title}}
                    </a>
                    <div ng-show="loadingBtn" class="cd-faq-content show_{{creationPatternObject.id}}">
                        <img alt="{{creationPatternObject.image.name}}"
                             data-ng-src="{{'data:image/png;base64,'+creationPatternObject.image.img}}"/>
                        <div class="pattern_text">
                            <p ng-bind-html="showTextPattern(creationPatternObject.text)"></p>
                        </div>
                        <hr class="pattern_hr"/>
                        <div class="pattern_comments">
                            <!-- Commentary -->
                            <div class="pattern_comment_commentary">
                                <form name="formCommentary">
                                    <p>Leave a comment:</p>
                                    <textarea ng-model="textareaCommentary.text" type="text"
                                              class="pattern_comment_commentary_text" rows="6"></textarea>
                                    <a ng-click="postComment(formCommentary, textareaCommentary)" href=""
                                       class="cd-btn-send">Post Comment</a>
                                    <span ng-show="errorMessage" class="cd-error-message-comm">Comment field empty!</span>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            </ul> <!-- cd-faq-group -->

            <ul id="mobile" class="cd-faq-group">
                <li class="cd-faq-title"><h2>Structural patterns</h2></li>
                <li ng-repeat="structuralPatternObject in structuralPatternsObject">
                    <a class="cd-faq-trigger" ng-click="loadingBtn = !loadingBtn" href="">
                        {{structuralPatternObject.title}}
                    </a>
                    <div ng-show="loadingBtn" class="cd-faq-content show_{{structuralPatternObject.id}}">
                        <img alt="{{structuralPatternObject.image.name}}"
                             data-ng-src="{{'data:image/png;base64,'+structuralPatternObject.image.img}}"/>
                        <div class="pattern_text">
                            <p ng-bind-html="showTextPattern(structuralPatternObject.text)"></p>
                        </div>
                        <hr class="pattern_hr"/>
                        <div class="pattern_comments">
                            <!-- Commentary -->
                            <div class="pattern_comment_commentary">
                                <form name="formCommentary">
                                    <p>Leave a comment:</p>
                                    <textarea ng-model="textareaCommentary.text" type="text"
                                              class="pattern_comment_commentary_text" rows="6"></textarea>
                                    <a ng-click="postComment(formCommentary, textareaCommentary)" href=""
                                       class="cd-btn-send">Post Comment</a>
                                    <span ng-show="errorMessage" class="cd-error-message-comm">Comment field empty!</span>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <ul id="account" class="cd-faq-group">
                <li class="cd-faq-title"><h2>Behavioral patterns</h2></li>
                <li ng-repeat="behavioralPatternObject in behavioralPatternsObject">
                    <a class="cd-faq-trigger" ng-click="loadingBtn = !loadingBtn" href="">
                        {{behavioralPatternObject.title}}
                    </a>
                    <div ng-show="loadingBtn" class="cd-faq-content show_{{behavioralPatternObject.id}}">
                        <img alt="{{behavioralPatternObject.image.name}}"
                             data-ng-src="{{'data:image/png;base64,'+behavioralPatternObject.image.img}}"/>
                        <div class="pattern_text">
                            <p ng-bind-html="showTextPattern(behavioralPatternObject.text)"></p>
                        </div>
                        <hr class="pattern_hr"/>
                        <div class="pattern_comments">
                            <!-- Commentary -->
                            <div class="pattern_comment_commentary">
                                <form name="formCommentary">
                                    <p>Leave a comment:</p>
                                    <textarea ng-model="textareaCommentary.text" type="text"
                                              class="pattern_comment_commentary_text" rows="6"></textarea>
                                    <a ng-click="postComment(formCommentary, textareaCommentary)" href=""
                                       class="cd-btn-send">Post Comment</a>
                                    <span ng-show="errorMessage" class="cd-error-message-comm">Comment field empty!</span>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <a href="" style="background: url(/resources/img/cd-logo-close.svg) no-repeat center center "
           class="cd-close-panel"></a>
    </section>
</div>