<div class="row">
    <div class="col s12">
        <h5>Create pattern</h5>
    </div>
    <form name="patternCreateForm">
        <div class="col s4">
            <label class="black-text">
                <select class="browser-default select_type" required=""
                        ng-model="patternCreate.type"
                        ng-options="patternTypeCr for patternTypeCr in patternType">
                    <option value="" disabled="">Select type</option>
                </select>
            </label>
        </div>
        <div class="col s10">
            <p></p>
        </div>
        <div class="col s4">
            <label class="black-text">
                <select class="browser-default select_type" required=""
                        ng-model="imageCreate.id"
                        ng-options="imageTypeCr.name for imageTypeCr in imagesAvailable">
                    <option value="" disabled="">Select image</option>
                </select>
            </label>
        </div>

        <div class="input-field col s12 black-text">
            <div class="input-field">
                <textarea ng-model="pageCreate.text" id="textarea1" class="materialize-textarea" required=""></textarea>
                <label for="textarea1" class="black-text">Textarea</label>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <div class="input-field">
                <button ng-click="createPattern(patternCreateForm, patternCreate, imageCreate)" class="btn">CREATE</button>
            </div>
        </div>
    </form>
</div>
