<div class="row" xmlns:th="http://www.thymeleaf.org">

    <!--BLOCK SELECT PATTERN -->
    <div th:replace="admin_fragments/admin_update_select_pattern::admin_update_select_pattern"></div>


    <div ng-hide="hidePattern">
        <!--BLOCK Title -->
        <div th:replace="admin_fragments/admin_update_title::admin_update_title"></div>

        <!--BLOCK TAG -->
        <div th:replace="admin_fragments/admin_update_tag::admin_update_tag"></div>


        <!--BLOCK IMAGE -->
        <div th:replace="admin_fragments/admin_update_image::admin_update_image"></div>


        <!--BLOCK TEXT -->
        <div th:replace="admin_fragments/admin_update_text ::admin_update_text"></div>
    </div>

</div>